/* login */
.logo img { width: 100%; height: auto; }

body.login .box-resetpassword { background: #ffffff; border-radius: 5px; box-shadow: -30px 30px 50px rgba(0, 0, 0, 0.32); overflow: hidden; padding: 15px; }

.form-login .errors { padding: 15px; margin-bottom: 20px; border: 1px solid #ebccd1; border-radius: 4px; color: #a94442; background-color: #f2dede; }
.form-login .errors p, .form-login .errors ul { margin-bottom: 0; }
.form-login .alert, .form-login .errors { text-align: center; }
.form-login .alert ul, .form-login .errors ul { padding: 0; list-style: none; }

/* header */
.navbar > .container .navbar-brand { padding: 0; }
.navbar-brand > img.logo { width: 210px; height: auto; padding: 5px 0; }

/* page header toolbar */
.page-header .toolbar { float: right; }

/* datatables */
.dataTables_wrapper .dataTables_pager { text-align: right; }
.dataTables_wrapper .dataTables_pager .dataTables_length,
    .dataTables_wrapper .dataTables_pager .dataTables_paginate { display: inline-block; vertical-align: middle; }
div.dataTables_wrapper div.dataTables_filter { text-align: left; }
div.dataTables_wrapper div.dataTables_filter input { margin-left: 0; }
.dataTables_wrapper .dataTables_pager .dataTables_length { margin-right: 0.5rem; }

table.dataTable tbody td.select-checkbox:before, table.dataTable tbody td.select-checkbox:after, table.dataTable tbody th.select-checkbox:before, table.dataTable tbody th.select-checkbox:after { top: auto; }

.dt-toolbar > div { margin-left: 5px; }
.dt-toolbar > div:first-child { margin-left: 0; }

/* extend */
table.dataTable thead th.select-checkbox { position: relative; }
table.dataTable thead th.select-checkbox:before,
    table.dataTable thead th.select-checkbox:after {
        display: block; position: absolute; top: 1.2em; left: 50%; width: 12px; height: 12px; -webkit-box-sizing: border-box; box-sizing: border-box;
    }
table.dataTable thead th.select-checkbox:before { content: ' '; margin-top: -6px; margin-left: -6px; border: 1px solid black; border-radius: 3px; }
table.dataTable thead th.select-checkbox.selected:after { content: '\2714'; margin-top: -11px; margin-left: -4px; text-align: center; text-shadow: none; }

.dt-toolbar { display: inline-block; margin-left: 15px; vertical-align: middle; }
.dt-toolbar .dropdown { display: inline-block; }

/* sweetalert2 */
.swal2-popup { font-size: 1.5rem; }

/* smartwizard */
.swMain { border: 0; }
.swMain .nav:before, .swMain .nav:after { display: none; }
.swMain .nav > li > a { padding: 0; }
.swMain .nav > li > a:focus,
    .swMain .nav > li > a:hover { background-color: transparent; }
.swMain .progress { margin: 0; }
.swMain .tab-content { border: 0; padding: 0; }
.swMain.sw-modal .toolbar { margin: 0 -15px -15px -15px; padding: 15px; }
.swMain.sw-modal .toolbar .btn.disabled { pointer-events: none; cursor: not-allowed; }

.sw-theme-default > .nav .nav-link.active .stepNumber { border-color: #5293c4; }
.sw-theme-default > .nav .nav-link.active:before { border-color: #5293c4; }
.sw-theme-default > .nav .nav-link.active .stepDesc { color: #2b3d53; }

.summary .form-group { border-bottom: 1px solid #d5d5d5; }

/*.swMain .toolbar .btn.disabled { display: none; }*/

/* select2 */
.select2-container { z-index: 9999; }

/* jstree */
.jstree .jstree-container-ul > .jstree-node.jstree-open > .jstree-anchor .fa-folder:before,
.jstree .jstree-container-ul > .jstree-node > .jstree-children > .jstree-node.jstree-open > .jstree-anchor .fa-folder:before,
.jstree .jstree-container-ul > .jstree-node > .jstree-children > .jstree-node > .jstree-children > .jstree-node.jstree-open > .jstree-anchor .fa-folder:before,
.jstree .jstree-container-ul > .jstree-node > .jstree-children > .jstree-node > .jstree-children > .jstree-node > .jstree-children > .jstree-node.jstree-open > .jstree-anchor .fa-folder:before
{ content: "\f07c"; }

/* theme fix */
textarea.form-control { padding: 5px 4px; }
textarea.no-resize { resize: none; }
.text-bold { font-weight: 700!important; }

.form-group.has-error .select2-container--default .select2-selection--single { border-color: #a94442; }
.form-group.has-success .select2-container--default .select2-selection--single { border-color: #3c763d; }

input[type=checkbox], input[type=radio] { margin-top: 2px; }