/* login */
.logo img { width: 100%; height: auto; }

body.login .box-resetpassword { background: #ffffff; border-radius: 5px; box-shadow: -30px 30px 50px rgba(0, 0, 0, 0.32); overflow: hidden; padding: 15px; }

.form-login .alert { text-align: center; }
.form-login .alert ul { padding: 0; list-style: none; }